<h4 style="text-align: center;"> My Publications </h4>
            <br>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let publi of allPubli" > 
                    <h4><img src="favicon.ico" width="30" height="30" alt=""> - {{publi.user}} -- {{publi.name}}</h4>
                    <p>{{publi.descri}}</p> 
                    <img src="{{publi.url}}" 
                    style="
                    max-width: 20cm;
                    max-height: 13cm; 
                    display: block;
                    margin-left: auto;
                    margin-right: auto">
                    <div class="text-right" style="vertical-align: 2px;">
                      <button class="text-right"> <i class="fas fa-trash"></i> </button>
                      <button class="text-right"> <i class="fas fa-heart"></i> </button>
                  </div>  
                </li>
            </ul>